.website-body{
    margin: 0%; /* Im unsure if this is the best approach but so far it's the one I have*/
    background-color: #1a2238;
}
/************************* NAVBAR ******************************/
.navbar{
    display: flex;
    justify-content: left;    /* center the DIV*/
    align-items: center;
    
    background-color: gray;
    height: 80px;
    width: 100%; /* a good start to my navbar, */
    margin: 0%;
}
.navbar div{
    padding-left: 1rem;
    padding-right: 1rem;
    color: aliceblue;
}
.navbar div a{
    color: aliceblue;
    text-decoration: none;
}
.navbar div a:hover{
    color: blue;
}
/************************* NAVBAR ******************************/

/************************* TOP IMAGE ******************************/
.headshot-container{
    width: 100%;
    margin:auto; /*put the image in the center*/
    border-style: dashed;
    display: flex;
    align-items: end;
    justify-content: center;
}
.headshot-photo{
    margin-top: 1%;
    width: 60%;
    max-width: 750px;
    border-radius: 100%;
}
/************************* TOP IMAGE ******************************/

.hello-text{
    width:70%;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    margin: auto;  
}

.hello-header-container{
    /*border-style: dashed;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hello-header{
    font-size: 6rem;
    color: aliceblue;
    margin: auto;
}

.description{
    color: aliceblue;
    font-size: 4rem;
    margin: auto;
}

.elevator-pitch-container{
    color: aliceblue;
    font-size: 2.3rem;
    margin:2rem;
}

/* ********************RESUME SECTION CODE***************************/

.resume-container{ /*TODO: Resize Resume and add a navbar back to other parts of the website*/
    display:flex;
    align-items: center;
    justify-content: center;
}
/* ********************RESUME SECTION CODE***************************/

.about-me-container{
    display: flex;
    color: aliceblue;
    justify-content: center;
    border-style: dashed;
    font-size: 2rem;
}
.below-container div{
    color: red;
    border-style: dashed;
}

@media (max-width:2292px) {
    .hello-header{
        font-size: 5.5rem;
    }
    .description{
        font-size: 3rem;
        color: aquamarine;
    }
}

@media(max-width:1723px){
    .hello-header{
        font-size: 5rem;
    }
    .description{
        font-size: 2.5rem;
        color: aliceblue;
    }
}

@media(max-width:1440px){
    .hello-header{
        font-size: 4.5rem;
    }
    .description{
        font-size: 2.2rem;
        color: aliceblue;
    }
}

@media(max-width:750){
    .headshot-photo{
        width:30%;
    }
}