.website-body{
    margin: 0%; /* Im unsure if this is the best approach but so far it's the one I have*/
    background-color: #1a2238;
}
/************************* NAVBAR ******************************/
.navbar{
    display: flex;
    justify-content: left;    /* center the DIV*/
    align-items: center;
    
    background-color: gray;
    height: 5rem;
    width: 100%; /* a good start to my navbar, */
    margin: 0%;
}
.navbar div{
    padding-left: 1rem;
    padding-right: 1rem;
    color: aliceblue;
}
.navbar div a{
    color: aliceblue;
    text-decoration: none;
}
.navbar div a:hover{
    color: blue;
}
/************************* NAVBAR ******************************/

/************************* TOP IMAGE ******************************/
.headshot-container{
    border-style: dashed;
    border-color: red;
    width:50vw;
    
    display: flex;
    justify-content: center;
}
.headshot-photo{
    margin-top: 1%;
    width: 60%;
    max-width: 750px;
    min-width: 200px;
    border-radius: 100%;
    object-fit: contain;
}
/************************* TOP IMAGE ******************************/
.front-banner-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
    
    margin: auto;

    border-style: dashed;
    border-color: blue;
}


.hello-text{
    width:100%;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    margin: auto;  
}

.hello-header-container{
    /*border-style: dashed;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello-header{
    font-size: 6rem;
    color: aliceblue;
    margin: auto;
}

.description{
    color: aliceblue;
    font-size: 4rem;
    margin: auto;
}

.elevator-pitch-container{
    color: aliceblue;
    font-size: 2.3rem;
    margin:2rem;
}

/* ********************RESUME SECTION CODE***************************/

.resume-container{ /*TODO: Resize Resume and add a navbar back to other parts of the website*/
    display:flex;
    align-items: center;
    justify-content: center;
}
/* ********************RESUME SECTION CODE***************************/

.about-me-container{
    display: flex;
    color: aliceblue;
    justify-content: center;
    border-style: dashed;
    font-size: 2rem;
}
.below-container div{
    color: red;
    border-style: dashed;
}





@media (max-width:2292px) {
    .hello-header{
        font-size: 5.5rem;
    }
    .description{
        font-size: 3rem;
    }
}

@media(max-width:1834px){
    .hello-header{
        font-size: 5rem;
    }
    .description{
        font-size: 2.5rem;
    }
}

@media(max-width:1533px){
    .hello-header{
        font-size: 4rem;
    }
    .description{
        font-size: 2rem;
        color: aliceblue;
    }
}

@media(max-width: 1237px){
    .headshot-photo-container{
        width: 30vw;
    }
    .hello-header{
        font-size: 2.5rem;
    }
    .description{

    }
}

@media(max-width:780px){
    .hello-header{
        font-size: 2rem;
    }
    .description{
        font-size{
            font-size:1rem;
        }
    }
    
    .headshot-photo{
        width:30%;
    }
}

@media(max-width:780px){
    .front-banner-container{
        flex-direction: column;
        align-items: center;
    }
    .hello-header{
        font-size: 2rem;
    }
    .description{
        font-size:1.5rem;
    }
    
}

@media(max-width:440px){ /*This should cover most phones, design starts crashing at approximately 320 pixels*/
    .hello-header{
        font-size: 1.5rem;
    }
    .description{
        font-size:1.2rem;
    }
}