h3, p{
    color: var(--color-text);
}

.card {
    background-color: var(--color-surface);
    width: 50em;
    height: auto;
    border-bottom-left-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
}

.cardImage {
    width: 50em;
    height: 25em;
    object-fit: cover;
    border: 2px solid var(--color-text);
}
