
.page-body {
  background-color: #1e1e2f;
  background-image: url("../images/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  border-bottom: 1px solid #a78bfa;
  padding-top: 15px;
  padding-bottom: 15px;
  /*border: 1px solid red;*/
}

.row {
  align-items: center;
  /*border: 1px dashed red;*/
}

.text-column {
  max-width: 600px;
  color: #ffffff;
  text-align: left;

  /*border-color: blue;
  border-style: dashed;*/
}

.page-body h1,
.page-body h2,
.page-body p {
  color: #ffffff;
  margin-bottom: 0px;
}
.page-body span {
  color: #a78bfa;
}

.my-headshot {
  width: 500px;
  height: 500px;
  object-fit: cover; /* Ensures image covers the area without distortion */
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.4);
}

.gradient-name {
  background: linear-gradient(135deg, #7b68ee, #9481cc); /*gradiant goes left -> right, gets lighter*/
  -webkit-background-clip: text; /*can only see the background colors on the text*/
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.icon-image {
  width: 100px;
  height: 100px;

  margin: 8px;
  background-color: #2C2C40;
  border-radius: 10px;
  padding:10px;
  transition: transform 0.2s ease-in-out;
}

.icon-image:hover {
  transform: scale(1.07);
}

.social-icons i{
  font-size: xx-large;
  padding: 5px;
}

.social-icons a{
  color: #ffffff;
}

.social-icons a:hover {
  color:gray;
}

.featured-project-image {
  width: 400px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.4);
  transition: transform 0.3s ease-in-out;
}
.featured-project-image:hover{
  transform: scale(1.05);
}

@media (max-width:1400px){
  .icon-image{
    width: 90px;
    height: 90px;
  }

  .featured-project-image{
    width: 350px;
  }
}

@media(max-width:1200px){
  .icon-image{
    width: 100px;
    height:100px;
  }
  .featured-project-image {
    width:500px;
  }
}

