
.page-body {
  background-color: #1e1e2f;
  background-image: url("../images/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff;
}

.row {
  align-items: center;
  border-style: dashed;
  border-color: red;
}

.text-column {
  max-width: 600px;
  color: #ffffff;
  text-align: left;

  /*border-color: blue;
  border-style: dashed;*/
}

.page-body h1,
.page-body h2,
.page-body p {
  color: #ffffff;
  margin-bottom: 0px;
}
.page-body span {
  color: #a78bfa;
}

.my-headshot {
  width: 500px;
  height: 500px;
  object-fit: cover; /* Ensures image covers the area without distortion */
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.4);
}

.gradient-name {
  background: linear-gradient(135deg, #7b68ee, #9481cc); /*gradiant goes left -> right, gets lighter*/
  -webkit-background-clip: text; /*can only see the background colors on the text*/
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.icon-image {
  width: 100px;
  height: 100px;

  margin: 8px;
  background-color: #2C2C40;
  border-radius: 10px;
  padding:10px;
}

.icon-image:hover {
  transform: scale(1.05);
}

.tech-skills {
  border: 2px solid red;
}

.social-icons i{
  font-size: xx-large;
  padding: 5px;
}
