.borderTest {
  /*border: 1px solid red;*/
}

.iconButton {
  all: unset;
}

.popupContainer {
  background-color: #2C2C40;
  width:500px;
  height:250px;
  border-radius: 10px;
}

.popupHeader {
  margin:1rem;
}

.popupExitButton {
  all: unset;
  background-color:#a78bfa;
  width:50px;
  height:50px;
  color: white;
  font-size: xx-large;
  border: 1px solid #a78bfa;
  border-radius: 8px;
  text-align: center;
  margin:1rem;
}

.pageBody {
  background-color: #1e1e2f;
  background-image: url("../images/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  border-bottom: 1px solid #a78bfa;
  padding-top: 15px;
  padding-bottom: 15px;
  /*border: 1px solid red;*/
}

.heroRow {
  align-items: center;
  /*border: 1px dashed red;*/
}

.textColumn {
  max-width: 600px;
  color: #ffffff;
  text-align: left;

  /*border-color: blue;
  border-style: dashed;*/
}

.pageBody h1,
.pageBody h2,
.pageBody p {
  color: #ffffff;
  margin-bottom: 0px;
}
.pageBody span {
  color: #a78bfa;
}

.myHeadshot {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.4);
}

.gradientName {
  background: linear-gradient(135deg, #7b68ee, #9481cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.iconImage {
  width: 100px;
  height: 100px;

  margin: 8px;
  background-color: #2C2C40;
  border-radius: 10px;
  padding:10px;
  transition: transform 0.2s ease-in-out;
}

.iconImage:hover {
  transform: scale(1.07);
}

.socialIcons i{
  font-size: xx-large;
  padding: 5px;
}

.socialIcons a{
  color: #ffffff;
}

.socialIcons a:hover {
  color:gray;
}

.featuredProjectImage {
  width: 400px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.4);
  transition: transform 0.3s ease-in-out;
}
.featuredProjectImage:hover{
  transform: scale(1.05);
}

@media (max-width:1400px){
  .iconImage{
    width: 90px;
    height: 90px;
  }

  .featuredProjectImage{
    width: 350px;
  }
}

@media(max-width:1200px){
  .iconImage{
    width: 100px;
    height:100px;
  }
  .featuredProjectImage {
    width:500px;
  }
}
