.navbar{
    background-color: #2a2a3d;
    color: #dcdcdc;
}

.nav-link {
    color: #dcdcdc;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon{
    filter:invert(1); /*makes the hamburger icon white*/
}
