.navbar{
    background-color: var(--color-surface-nav);
    color: var(--color-text);
}

.navItem{
    color: var(--color-text);
    margin-right: 1.5rem;
    font-size: large;
}
.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-nav);
    color: var(--color-text);
    height: 50px;
}

.nav-Link {
    color: var(--color-text);
}

.navbarToggler {
    border: 1px solid var(--color-text);
}

.navbarTogglerIcon {
    filter:invert(1);
}
